.banner {
  background: url(../img/banner-image.png);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 352px;
}

.banner__conteudo {
    padding: 2% 4%;
    width: 1136px;
}

.banner__conteudo_titulo {
  color: #ffffff;
  font-size: 52px;
  margin: 0;
}

.banner__conteudo_subtitulo {
  color: #ffffff;
  font-size: 22px;
  padding: 16px 0;
  margin: 0;
}

.banner__conteudo_btn {
  background: #2a7ae4;
  border-style: none;
  color: #ffffff;
  height: 51px;
  width: 130px;
}
