.cabecalho {
  align-items: center;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 115px;
  padding: 0 4%;
}
.cabecalho__direita {
  display: flex;
  align-items: center;
  position: relative;
}
.cabecalho__logo {
  height: 50px;
  width: 176px;
  margin-right: 1em;
}

.cabecalho__pesquisa {
  align-items: center;
  background: #f5f5f5;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 1.4em;
  width: 393px;
}
.cabecalho__direita_pesquisa {
  position: absolute;
  left: 100%;
}

.cabecalho__pesquisa_barra {
  background: #f5f5f5;
  border-style: none;
  outline: 0;
  width: 353px;
}

.cabecalho__pesquisa_barra:hover {
  outline: 0;
}

.cabecalho__pesquisa_img {
  height: 17px;
  width: 17px;
}

.cabecalho__login_btn {
  background: none;
  border: 1px solid #2a7ae4;
  height: 51px;
  width: 182px;
}

.cabecalho__login_botao {
  color: #2a7ae4;
  text-decoration: none;
}

.cabecalho__pesquisa_listaProdutos {
  display: none;
  flex-direction: column;
  background: #f5f5f5;
  list-style: none;
  width: 415px;
  position: absolute;
  margin: 0;
}

.cabecalho__pesquisa_listaProdutos {
  padding-left: 1.4em;
}

.cabecalho__pesquisa_listaProdutos > li {
  margin-bottom: 1em;
  
}
.cabecalho__pesquisa_listaProdutos > li > a {
  text-decoration: none;
  color: black;
  
}

/*Mobile*/
@media screen and (max-width: 767px) {
 
  .cabecalho {
    width: 92%;
  }

  .cabecalho__direita {
    width: 68%;
    
  }
  
  .cabecalho__login_btn {
    width: 20%;
  }
  .cabecalho__logo {
    height: 38px;
    width: 120px;
  }

  .cabecalho__direita_pesquisa {
    position: absolute;
    left: 54.5%;
    width: 45%;
    
  }
  .cabecalho__pesquisa {
    padding: 0 1em;
    
    width: 100%;
  }

  .cabecalho__pesquisa_barra {
    width: 100%;
    font-size: 12px;
  }

  .cabecalho__pesquisa_barra::placeholder{
    font-size: 12px;
    
  }

  .cabecalho__pesquisa_listaProdutos {
    
    width: calc(100% + 1em);
    
  }

  .cabecalho__pesquisa_listaProdutos {
    padding-left: 1em;
  }
  
  

  .cabecalho__pesquisa_listaProdutos > li > a {
    text-decoration: none;
    font-size: 11px;
    color: black;
    
  }
  .cabecalho__pesquisa_barra::placeholder{
    color: transparent;
    
  }

}

