main {
    background: #E5E5E5
}

.produto {

    display: flex;
    padding: 64px 4% 0 4%;
    margin: 0 0 64px 0;
}

.produto__img {
    width: 560px;
    height: 403px;
}

.produto__descricao {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    width: 50%;
}

.produto__descricao_titulo{
    color: #464646;
    font-weight: 500;
    font-size: 52px;
    margin: 0;
}

.produto__descricao_preco {

    color: #464646;
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0;
}

.produto__descricao_texto {
    color: #464646;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.produtos__titulo_texto_produto {
    color: #464646;
    font-weight: 700;
    font-size: 32px;
}

.produtos__galeria {
    margin: 0 0 64px 0;
}

/*Mobile*/
@media screen and (max-width: 767px) {
    .produto {
        flex-direction: column;
        margin: 0 0 28px 0;
    }

    .produto__img{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .produto__descricao_titulo {
        font-size: 22px;
        width: 100%;
    }

    .produto__descricao_preco {
        font-size: 16px;
        
    }

    .produto__descricao_texto {
        font-size: 14px;
        width: 325px;
        margin: 0;
        padding: 0;
    }

    .produtos__galeria {
        margin: 0;
    }

    .produtos__vertudo_seta {
        height: 14px;
        align-self: center;
        justify-content: center;
        width: 14px;
    }


.produtos__titulo_texto_produto {
    font-size: 22px;
}

.produtos__vertudo {
    font-size: 14px;
}
}